body {

}

li {
  border-radius: 5px;
  background-color: #FF722B;
}

a {
  color: black;
  font-weight: bold;
}

h4 {
  text-align: center;
}

.panel {
  text-align: center;
  color: white;
  background-color: #FF722B;
}

.carousel-inner .panel {
  padding-bottom: 30px;
  text-align: center;
  color: white;
  background-color: #FF722B;
}

.carousel {
  margin-top: 10px;
}

.carousel img {
  border-radius: 30px;
  min-height: 500px;
  max-height: 500px;
  min-width: 700px;
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control {
  border-radius: 50px;
  color: #FF722B;
}

.carousel-indicators li {
  width: 25px;
  height: 25px;
  background-color: #FF722B;
}

.carousel-indicators .active {
  background-color: black;
  width: 25px;
  height: 25px;
}

.jumbotron {
  background-color: #FF722B;
  color: white;
  text-align: center;
}

.caption {
  text-align: center;
}

.thumbnail {
  margin-top: -10px;
  border: groove #FF722B;
}

.thumbnail img {
  height: 400px;
}

.thumbnail h3 {
  text-decoration: underline;
  font-weight: bold;
}

.invert {
  color: black;
}


.banner img {
  border-radius: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
}

.avatar img {
  max-width: 5%;
  max-height: 5%;
  border-radius: 10px;
  }
